@import "../node_modules/@cmsgov/design-system-core/dist/index.css";
@import "../node_modules/@cmsgov/design-system-layout/dist/index.css";

@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/fonts";
@import "./scss/globals";
@import "./scss/layout";
@import "./scss/alerts";
@import "./scss/icons";
@import "./scss/header";
@import "./scss/footer";
@import "./scss/sidebar";
@import "./scss/form";
@import "./scss/main";
@import "./scss/print";
