/**********************
  FORM
**********************/
.errors,
.error {
  color: #e31c3d;
}

.ds-c-label {
  max-width: 100%;
}

.ds-l-col fieldset .ds-c-label {
  white-space: nowrap;
}

.ds-c-table {
  margin: 1.2rem 0;
}

.synthesized-table,
.non-interactive-table {
  table {
    thead {
      th {
        background: #ddd;
      }
    }
    tbody {
      td {
        background: #efefef;
      }
    }
  }
}

.form-options {
  margin: ($padding * 3) 0;

  button {
    margin-right: ($padding * 3);
  }
}

[role="region"]:active:focus {
  outline: none;
}

.accordion-title {
  font-size: 1.2rem;
  background-color: transparent;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2226%22%3E%3Cpath%20d%3D%22M14.502%2020.77L25.37%209.894c.42-.404.631-.9.631-1.503a1.99%201.99%200%2000-.631-1.502L24.118%205.62c-.41-.41-.912-.62-1.502-.62-.58%200-1.088.205-1.52.62L13%2013.727%204.893%205.62C4.483%205.21%203.98%205%203.39%205c-.578%200-1.087.205-1.52.62L.62%206.888C.21%207.298%200%207.8%200%208.39s.205%201.093.62%201.503L11.48%2020.77c.433.409.941.62%201.52.62.59%200%201.093-.205%201.502-.62z%22%2F%3E%3C%2Fsvg%3E);
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 14px;
  border-radius: 0;
  border-bottom: 0;
  border-right: 0;
  border-top: 0;
  cursor: pointer;
  padding-right: 40px;
  width: 100%;

  [aria-expanded="true"] & {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2226%22%3E%3Cpath%20d%3D%22M14.502%204.62L25.37%2015.498c.42.403.631.9.631%201.502a1.99%201.99%200%2001-.631%201.502l-1.251%201.269c-.41.409-.912.62-1.502.62a2.125%202.125%200%2001-1.52-.62L13%2011.663l-8.107%208.108c-.41.409-.912.62-1.503.62a2.125%202.125%200%2001-1.52-.62L.62%2018.502C.21%2018.093%200%2017.59%200%2017s.205-1.093.62-1.502L11.48%204.62A2.15%202.15%200%200113%204c.59%200%201.093.205%201.502.62z%22%2F%3E%3C%2Fsvg%3E);
  }
}

.question-container {
  margin-bottom: ($padding * 4);
  position: relative;

  .fill-form {
    border: 2px solid $color-gray-lightest;
    border-radius: $border-radius;
    float: right;
    height: 30px;
    overflow: hidden;

    position: relative;
    right: 0;
    top: 0px;
    width: 30px;

    a {
      display: block;
      height: 100%;
      pointer-events: all;
      width: 100%;

      &:after {
        background-image: url(/img/burger-arrow.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 85%;
        color: $black;
        content: "";
        font-family: "FontAwesome";
        height: 24px;
        position: absolute;
        right: 0;
        top: 0;
        width: 24px;
      }
    }
  }

  .fill-form {
    a.active {
      &:after {
        background: none;
        color: $color-icon;
        content: "\f0e2";
        font-family: "FontAwesome";
        height: 24px;
        padding: 4px 0 0 12px;
        position: absolute;
        text-indent: 6px;
        right: 0;
        top: 0;
        width: 24px;
      }
    }
  }

  .fill-form.active {
    display: block;
  }

  .clear-form {
    display: none;

    &.active {
      display: block;
    }

    a:after {
      content: "\f0e2";
    }
  }

  .date-range fieldset > div div:nth-of-type(2),
  .date-range fieldset > div span:first-of-type {
    display: none;
  }

  .question {
    font-weight: $font-weight-bold;
    margin-top: ($margin * 2);
  }

  .date-range {
    border-left: 4px solid $brand-primary;
    padding-left: ($padding * 2);
  }

  .question-outer-header {
    margin-bottom: 0;
    margin-top: ($margin * 4);
  }
}

.question-inner-header {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: ($margin * 2);
}
.sub-questions {
  margin-left: 16px;
}
/* Conditionals */
.hide {
  display: none;
}
.conditional {
  border-left: $border-width solid $brand-primary;
  margin-left: ($margin * 2);
  padding-left: ($padding * 2);
}

.fpl {
  h3 {
    margin: ($margin * 4) 0 0 0;
  }
}

.cmsranges {
  h3 {
    margin: 2.2rem 0 0 0;
  }

  .cmsrange {
    &:nth-child(odd) {
      margin-bottom: 2.2rem;
    }
  }
  .cmsranges-btn {
    margin: 2.2rem 1.2rem 0 0;
    min-height: 3rem;
  }
  .ds-c-button {
    margin: 1.2rem 0 0 1rem;
  }
}

.cmsranges-container,
.cmsrange-container,
.fpl-container {
  align-items: baseline;
  display: flex;
  max-width: 150px;
  position: relative;
  width: auto;

  .cmsrange-input,
  .fpl-input {
    width: auto;

    input {
      text-indent: 12px;
    }
  }

  .cmsrange-percentage,
  .cmsrange-currency,
  .fpl-percentage {
    position: absolute;
    right: 8px;
    bottom: 14px;
  }

  .cmsrange-currency {
    right: auto;
    left: 8px;
  }
}

.cmsrange-arrow,
.fpl-arrow {
  align-self: flex-end;
  font-size: 1.8rem;
  vertical-align: bottom;
  line-height: 2.2rem;
  padding: 0 2.2rem 0.6rem;
}

.nav-buttons {
  float: right;
  margin: ($margin * 8) 0 ($margin * 2);
  text-align: center;
  width: 48%;

  .form-buttons {
    @media only screen and (min-width: 767px) {
      text-align: right;
    }
    .form-button {
      margin: $margin 0;

      @media only screen and (min-width: 767px) {
        display: inline-block;
        margin: $margin;
      }
    }
  }
}

.action-buttons {
  clear: both;

  .print-dialogue {
    border: 1px solid #aaa;
    border-radius: $border-radius;
    box-shadow: 2px 3px 4px #aaa;
    clear: both;
    display: block;
    float: right;
    margin-top: 0;
    max-width: 360px;
    padding: 0.6rem;
    position: relative;

    h4 {
      margin-top: 0;
      text-align: center;
    }

    .close {
      position: absolute;
      top: 2px;
      right: 0;
      svg {
        color: $color-gray-light;
        &:hover {
          color: $color-gray;
        }
      }
    }

    .print-options {
      & > div {
        display: inline-block;
        padding: 0 1.2rem;
        width: auto;

        &:first-of-type {
          border-right: 1px solid #bbb;
        }
      }
    }
  }
}

.autosave {
  float: left;
  margin: 64px 0 16px;
  text-align: center;
  width: 48%;
}

@media only screen and (min-width: 767px) {
  .autosave {
    text-align: left;
  }
}

.date-range {
  .date-range-start-wrapper,
  .date-range-end-wrapper {
    & > div {
      display: inline-block;
      width: auto;
    }

    .ds-c-datefield__separator {
      margin: 0 ($margin * 2);
    }

    .ds-c-label {
      span:first-of-type {
        display: none;
      }
    }
  }
}

.review-view {
  h4 {
    color: $black;
  }
  .ds-c-choice:disabled + label:before {
    background: $white;
  }
  .ds-c-choice:checked + label:before {
    background-color: $white;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="gray" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 24px;
    border-color: $color-gray-light;
  }
  .ds-c-field:disabled {
    background: $white;
  }
  .ds-c-alert {
    background: $color-gray-lightest;
    border-left: 8px solid $color-gray-light;
  }

  .nav-buttons,
  .action-buttons {
    display: none;
  }

  .unanswered-text {
    margin-bottom: 70px;
  }

  .review-view {
    h4 {
      color: $black;
    }
    .ds-c-choice:disabled + label:before {
      background: $white;
    }
    .ds-c-choice:checked + label:before {
      background-color: $white;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="gray" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 24px;
      border-color: $color-gray-light;
    }
    .ds-c-field:disabled {
      background: $white;
    }
    .ds-c-alert {
      background: $color-gray-lightest;
      border-left: 8px solid $color-gray-light;
    }

    .nav-buttons,
    .action-buttons {
      display: none;
    }
    .unanswered-text {
      margin-bottom: 70px;
    }
  }
  .accordion-header h3 button {
    background: $white;
    border-top: 6px solid $color-gray;
  }

  .objective-body,
  .objective-footer {
    background: $white;
  }

  .objective-accordion div[hidden] {
    display: block;
  }
}
