/**********************
  GLOBALS
**********************/
* {
  box-sizing: border-box;
}

h1 {
  font-weight: $font-weight-normal;
}

h4 {
  color: $brand-primary;
}

img {
  max-width: 100%;
}

.App {
  text-align: left;
}

.error {
  color: red;
}

.print-only {
  display: none;
}

.screen-only {
  display: block;
}

.searchable {
  .searchable-input {
    color: black;
    background-color: #ddd;
    border: 1px solid black;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: red;
      opacity: 1; /* Firefox */
    }
    .searchable-input-control {
      color: black;
    }
  }
  .searchable-input-arrow-inner {
    svg {
      color: black;
    }
  }
}
