/**********************
  GLOBALS
**********************/
* {
  box-sizing: border-box;
}

h1 {
  font-weight: $font-weight-normal;
}

h4 {
  color: $brand-primary;
}

img {
  max-width: 100%;
}

.App {
  text-align: left;
}

.error {
  color: red;
}

.print-only {
  display: none;
}

.screen-only {
  display: block;
}
