/**********************
  HEADER
**********************/

.header {
  background: $brand-tertiary;
  color: $white;

  @media only screen and (max-width: 767px) {
    text-align: center;
  }

  &:after {
    content: "";
    clear: both;
    display: table;
  }

  a,
  a:visited {
    color: $white;
    text-decoration: none;

    &:hover,
    &:active {
      color: darken($lily-white, 20);
    }
  }

  .site-title {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    font-size: 1rem;

    @media only screen and (max-width: 767px) {
      font-size: 1.6rem;
    }
  }

  .save-status {
    font-size: 0.85rem;
    font-style: italic;
    padding-top: 0.1rem;
    text-align: center;
    width: auto;

    @media only screen and (min-width: 768px) {
      border-right: 2px solid $white;
      float: right;
      text-align: right;
    }
  }

  .nav-user {
    text-align: center;
    float: right;
    padding: 0 1.2rem;
    margin: 0 auto;
    width: auto;

    &.open ul:after {
      transform: rotate(0deg);
    }

    ul {
      list-style-type: none;
      margin: 0;

      &.user-email-button {
        font-weight: $font-weight-bold;
        margin: 0;
        padding: 0 ($padding * 2.5) 0 0;
        position: relative;

        @media only screen and (min-width: 768px) {
          text-align: right;
        }

        a {
          &:after {
            content: "\f106";
            font-family: "FontAwesome";
            height: 5px;
            pointer-events: all;
            position: absolute;
            right: $margin;
            top: ($margin * 2);
            transform: rotate(180deg);
            width: 10px;
          }
        }
      }
    }

    .menu-block {
      display: none;
      position: relative;
      transition: all 2s;

      &.open {
        background: $brand-tertiary;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: ($padding * 1.5);
        position: absolute;
        right: 0;
        transition: all 2s;
      }
      .contact-us {
        padding: ($padding * 2) 0 ($padding * 1.5) 0;
        position: relative;

        a {
          padding: ($padding * 2) ($padding * 4) ($padding * 1.5)
            ($padding * 0.5);
          &:before {
            content: "\f05a";
            font-family: "FontAwesome";
            top: ($margin * 1.5);
            left: 0;
            padding: 0 ($padding * 3) 0 0;
          }
        }
      }
      .manage-account {
        padding: ($padding * 1.5) 0 ($padding * 1.5) ($padding * 0.5);
        position: relative;
        a {
          padding: ($padding * 2) 0 ($padding * 1.5) 0;
          &:before {
            content: "\f044";
            font-family: "FontAwesome";
            top: ($margin * 1.5);
            left: 0;
            padding: 0 $padding 0 0;
          }
        }
      }
      .logout {
        position: relative;
        button {
          text-decoration: none;
          font-weight: normal;
          color: #fff;
          padding: ($padding * 2) ($padding * 6.5) ($padding * 1.5)
            ($padding * 2);
          margin-left: -($margin * 1.5);
          &:hover {
            color: #8ed2e5;
          }
          &:before {
            content: "\f08b";
            font-family: "FontAwesome";
            top: ($margin * 1.5);
            left: 0;
            padding: 0 ($padding * 3) 0 0;
          }
        }
      }
    }
  }
  .header-row {
    position: relative;
  }
}
