/**********************
  Icons
**********************/

.fa-plus {
  border: 2px solid $white;
  border-radius: 50%;
  box-sizing: initial;
  margin-left: ($margin * 2);
  padding: ($padding * 0.5);
}
