/**
  * Contains Print media query AND print page
 */

.print-all {
  .ds-c-alert,
  .form-footer,
  .page-info {
    display: none;
  }
  .print-only {
    display: block;
  }

  .print-exclude {
    display: none;
  }

  .print-all-btn {
    margin: 2.2rem;
  }
}

@media print {
  .action-buttons,
  .ds-c-alert,
  .footer,
  .header,
  .nav-buttons,
  .print-all-btn,
  .print-exclude,
  .sidebar {
    display: none;
  }

  .print-only {
    display: block;
  }

  .screen-only {
    display: none;
  }

  .content {
    min-width: 100%;
  }

  .ds-c-choice:checked + label:before {
    background-color: $brand-primary;
    -webkit-print-color-adjust: exact;
  }

  .ds-c-tabs__panel {
    border: none;
    display: block;
  }

  .section-content {
    .ds-c-tabs__panel[aria-hidden="true"] {
      display: block !important;
      border-top: 8px solid $alto;
    }
    .ds-c-tabs__item[aria-selected="false"] {
      display: none;
    }

    .ds-c-tabs {
      display: none;
    }

    div[hidden] {
      display: block;
    }
  }

  .fill-form {
    display: none;
  }

  .question-container {
    display: block;
  }

  .ly_header {
    margin-bottom: ($margin * 8);
  }
  .question {
    break-inside: avoid;
  }
}
