/**********************
  ALERTS
**********************/

.date-range-err {
  border: 2px solid red !important;
}

.alert--unexpected-error {
  position: fixed;
  top: -200px;
  margin-top: -200px;
  transition: top 400ms, margin-top 400ms;
  z-index: 9;

  &.alert--unexpected-error__active {
    top: 60px;
    margin-top: 0;
  }
}

.hide-alert-button {
  display: block;
  margin-left: -25px;
  margin-top: 15px;
  margin-bottom: -10px;
}
