/**********************
  Fonts
**********************/

@font-face {
  font-family: "Open Sans";
  src: "url(/react/fonts/OpenSans/OpenSans-Regular-webfont.eot)";
  src: "url(/react/fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix)"
      format("embedded-opentype"),
    "url(/react/react/public/fonts/OpenSans/OpenSans-Bold-webfont.woff)"
      format("woff"),
    "url(/react/fonts/OpenSans/OpenSans-Regular-webfont.ttf)" format("truetype"),
    format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: "url(/react/fonts/OpenSans-Semibold-webfont.eot)";
  src: "url(/react/fonts/OpenSans-Semibold-webfont.eot?#iefix)"
      format("embedded-opentype"),
    "url(/react/fonts/OpenSans-Semibold-webfont.woff)" format("woff"),
    "url(/react/fonts/OpenSans-Semibold-webfont.ttf)" format("truetype"),
    "url(/react/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold)"
      format("svg");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: "url(/react/fonts/OpenSans-Italic-webfont.eot)";
  src: "url(/react/fonts/OpenSans-Italic-webfont.eot?#iefix)"
      format("embedded-opentype"),
    "url(/react/fonts/OpenSans-Italic-webfont.woff)" format("woff"),
    "url(/react/fonts/OpenSans-Italic-webfont.ttf)" format("truetype"),
    "url(/react/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic)" format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: "url(/react/fonts/OpenSans-Bold-webfont.eot)";
  src: "url(/react/fonts/OpenSans-Bold-webfont.eot?#iefix)"
      format("embedded-opentype"),
    "url(/react/fonts/OpenSans-Bold-webfont.woff)" format("woff"),
    "url(/react/fonts/OpenSans-Bold-webfont.ttf)" format("truetype"),
    "url(/react/fonts/OpenSans-Bold-webfont.svg#OpenSansSemiboldItalic)"
      format("svg");
  font-weight: bold;
  font-style: italic;
}

.App {
  font-family: "Open Sans", sans-serif;
}

.span-pdf-no-bookmark,
.h2-pdf-bookmark,
.h3-pdf-bookmark,
.h4-pdf-bookmark {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: black;
}

.span-inner-label {
  display: block;
  font-size: 1em;
  font-weight: bold;
  color: black;
}
