@use "sass:color";
@use "variables";

/**********************
  FOOTER
**********************/
.footer {
  background: variables.$color-gray-lightest;
  font-size: 0.85rem;
  color: variables.$color-gray;
  margin-top: 2rem;
  text-align: center;
  flex-shrink: 0;

  @media only screen and (min-width: 768px) {
    text-align: left;
  }

  .adverts {
    padding: (variables.$padding * 4) variables.$padding * 2;

    @media only screen and (min-width: 544px) {
      padding: (variables.$padding * 4) 0;
    }
  }

  .cms-logo {
    display: inline-block;
    width: 70px;
  }

  .cms-copy {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    line-height: 21px;
    color: #212121;
    margin-top: variables.$margin * 2;
    @media only screen and (min-width: 768px) {
      margin-top: 0;
    }
  }

  .chip-info {
    margin-bottom: variables.$margin * 2;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    div img {
      max-height: 78px;
    }
  }
  .cms-branding {
    &:first-child {
      text-align: right;

      @media only screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &:last-child {
      @media only screen and (min-width: 768px) {
        padding-left: 0;
      }
    }
  }

  .cms-medicaid {
    display: none;
    justify-content: flex-end;

    @media only screen and (min-width: 768px) {
      display: flex;
    }

    div {
      padding: 0;
      margin-top: 4px;

      img {
        max-width: 220px;
      }
    }

    &-mobile {
      max-width: 200px;
      margin-left: 20px;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  .info {
    background-color: variables.$primary-darkest;
    color: variables.$white;
    padding: (variables.$padding * 2) variables.$padding * 2;

    @media only screen and (min-width: 544px) {
      padding: (variables.$padding * 2) 0;
    }

    a,
    a:visited {
      color: variables.$white;
      text-decoration: none;

      &:hover,
      &:active {
        color: color.adjust(variables.$lily-white, $lightness: -20%);
      }
    }

    a:focus,
    p:active {
      box-shadow: none;
      background-color: inherit;
    }

    .help a {
      @media only screen and (max-width: 767px) {
        display: block;
        text-align: left;
      }

      &:first-child {
        padding-right: variables.$padding;
        border-right: 0;

        @media only screen and (min-width: 768px) {
          border-right: 1px solid variables.$white;
        }
      }

      &:last-child {
        margin-top: variables.$margin;

        @media only screen and (min-width: 768px) {
          padding-left: variables.$padding;
          margin-top: 0;
        }
      }
    }

    .address {
      margin-top: variables.$margin * 4;
      font-weight: variables.$font-weight-bold;
      text-align: left;

      @media only screen and (min-width: 768px) {
        margin-top: 0;
        text-align: right;
      }
    }
  }
}
