@use "sass:color";
@use "variables";

/**********************
  HEADER
**********************/

.component-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: variables.$color-gray-lightest;

  @media only screen and (max-width: 767px) {
    position: static;
  }
}

.header {
  background: variables.$primary-darkest;
  color: variables.$white;

  @media only screen and (max-width: 767px) {
    text-align: center;
    padding-bottom: 16px;
  }

  a,
  a:visited {
    color: variables.$white;
    text-decoration: none;

    &:hover,
    &:active {
      color: color.adjust(variables.$lily-white, $lightness: -20%);
    }
  }

  a:focus,
  p:active {
    box-shadow: none;
    background-color: inherit;
  }

  .site-title {
    font-weight: variables.$font-weight-bold;
    text-transform: uppercase;
    font-size: 1rem;

    @media only screen and (max-width: 767px) {
      font-size: 1.6rem;
    }

    @media only screen and (min-width: 768px) {
      padding-left: 0;
    }
  }

  #carts-logo {
    width: 100%;
    max-width: 300px;
    padding-top: 1rem;

    @media only screen and (min-width: 767px) {
      width: 300px;
    }
  }

  .user-details {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: 767px) {
      justify-content: flex-end;
    }

    &-container {
      height: 100%;
      justify-content: center;
      max-width: 400px;
      width: 100%;

      @media only screen and (min-width: 767px) {
        justify-content: flex-end;
      }
    }
  }

  .nav-user {
    width: 50%;

    @media only screen and (min-width: 768px) {
      width: auto;
    }

    &.open ul:after {
      transform: rotate(0deg);
    }

    ul {
      list-style-type: none;
      margin: 0;

      &.user-email-button {
        font-weight: variables.$font-weight-bold;
        margin: 0;
        position: relative;
        height: 100%;

        @media only screen and (max-width: 767px) {
          display: flex;
          justify-content: center;
          padding-left: 0;
        }

        @media only screen and (min-width: 768px) {
          text-align: right;
        }

        li {
          height: 100%;
        }

        button {
          padding-left: 0;
          padding-right: 0;
          height: 100%;
          cursor: pointer;
          text-decoration: none;
          color: #fff;

          &:hover {
            color: #8ed2e5;
          }

          svg {
            padding-right: variables.$padding;
          }

          &:focus {
            background-color: initial;
          }

          i {
            padding-left: variables.$padding;
          }
        }
      }
    }

    .menu-block {
      display: none;
      position: relative;

      &.open {
        background: variables.$primary-darkest;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: variables.$padding;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: (variables.$padding * 16);
        gap: 0;

        @media only screen and (min-width: 768px) {
          left: unset;
          -webkit-transform: unset;
          transform: unset;
          right: 0;
          top: (variables.$padding * 9);
        }
      }

      a,
      button {
        &:focus {
          background-color: initial;
        }
      }

      li {
        padding: variables.$padding variables.$padding;
        position: relative;
        width: 100%;
        text-align: left;

        a {
          display: block;
        }
      }

      .contact-us a:before {
        content: "\f05a";
        font-family: "FontAwesome";
        display: inline-block;
        padding-right: (variables.$padding + 2);
      }

      .manage-account a:before {
        content: "\f044";
        font-family: "FontAwesome";
        display: inline-block;
        padding-right: variables.$padding;
      }

      .logout a:before {
        content: "\f2f5";
        font-family: "FontAwesome";
        position: absolute;
        top: 0;
        left: 0;
      }

      button {
        text-decoration: none;
        font-weight: normal;
        color: #fff;
        padding: 0;
        text-align: left;
        width: 100%;

        &:hover {
          color: #8ed2e5;
        }

        &:before {
          content: "\f08b";
          font-family: "FontAwesome";
          display: inline-block;
          padding-right: variables.$padding;
        }
      }
    }
  }

  .header-row {
    position: relative;
    margin: 0;
    justify-content: center;
  }
}

/**********************
  USA BANNER
**********************/
.usabanner-section-layout {
  .ds-c-usa-banner__header {
    padding: variables.$padding variables.$padding * 2;

    @media only screen and (min-width: 544px) {
      padding: variables.$padding variables.$padding * 4;
    }
  }
}

/**********************
  Autosave Banner
**********************/
.save {
  &-container {
    background: variables.$secondary-lightest;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 10px;

    @media print {
      display: none;
    }
  }

  &-status {
    font-size: 0.95rem;
    font-style: italic;
    font-weight: variables.$font-weight-bold;
    padding-top: 0.1rem;
    text-align: right;
    width: auto;
  }
}