/**********************
  HEADER
**********************/

.component-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $color-gray-lightest;
}

.header {
  background: $brand-tertiary;
  color: $white;

  @media only screen and (max-width: 767px) {
    text-align: center;
  }

  &:after {
    content: "";
    clear: both;
    display: table;
  }

  a,
  a:visited {
    color: $white;
    text-decoration: none;

    &:hover,
    &:active {
      color: darken($lily-white, 20);
    }
  }

  a:focus,
  p:active {
    box-shadow: none;
    background-color: inherit;
  }

  .site-title {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    font-size: 1rem;

    @media only screen and (max-width: 767px) {
      font-size: 1.6rem;
    }
  }

  .save-status {
    font-size: 0.85rem;
    font-style: italic;
    padding-top: 0.1rem;
    text-align: center;
    width: auto;

    @media only screen and (min-width: 768px) {
      border-right: 2px solid $white;
      float: right;
      text-align: right;
    }
  }

  .nav-user {
    text-align: center;
    float: right;
    margin: 0 auto;
    width: auto;

    &.open ul:after {
      transform: rotate(0deg);
    }

    ul {
      list-style-type: none;
      margin: 0;

      &.user-email-button {
        font-weight: $font-weight-bold;
        margin: 0;
        position: relative;
        margin-left: ($margin * 10);

        @media only screen and (min-width: 768px) {
          text-align: right;
        }

        a {
          &:focus {
            background-color: initial;
          }
          padding-right: ($padding * 3);
          &:after {
            content: "\f106";
            font-family: "FontAwesome";
            height: 5px;
            pointer-events: all;
            position: absolute;
            right: ($margin * 0.5);
            top: ($margin * 2);
            transform: rotate(180deg);
            width: 10px;
          }
        }
      }
    }

    .menu-block {
      display: none;
      position: relative;
      transition: all 2s;

      &.open {
        background: $brand-tertiary;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: $padding;
        position: absolute;
        right: 0;
        top: ($padding * 6.25);
        transition: all 2s;
      }
      a,
      button {
        &:focus {
          background-color: initial;
        }
      }
      .contact-us {
        padding: ($padding * 2) 0 ($padding * 1.5);
        position: relative;
        width: 100%;
        a {
          padding: ($padding * 2) ($padding * 9.75) ($padding * 1.5) $padding;
          &:before {
            content: "\f05a";
            font-family: "FontAwesome";
            display: inline-block;
            width: 16px;
            padding-right: ($padding * 2);
          }
        }
      }
      .manage-account {
        padding: ($padding * 2) 0 ($padding * 1.5);
        position: relative;
        width: 100%;
        a {
          padding: ($padding * 2) ($padding * 4) ($padding * 1.5) $padding;
          &:before {
            content: "\f044";
            font-family: "FontAwesome";
            display: inline-block;
            width: 16px;
            padding-right: ($padding * 2);
          }
        }
      }
      .logout {
        position: relative;
        width: 100%;

        a:before {
          content: "\f2f5";
          font-family: "FontAwesome";
          position: absolute;
          top: 0;
          left: 0;
        }

        button {
          text-decoration: none;
          font-weight: normal;
          color: #fff;
          padding: ($padding * 2) ($padding * 12.25) ($padding * 1.5) $padding;
          &:hover {
            color: #8ed2e5;
          }
          &:before {
            content: "\f08b";
            font-family: "FontAwesome";
            display: inline-block;
            width: 16px;
            padding-right: ($padding * 2);
          }
        }
      }
    }
  }
  .header-row {
    position: relative;
  }
}

/**********************
  USA BANNER
**********************/
.usabanner-section-layout {
  margin-left: auto;
  margin-right: auto;
  background-color: $color-gray-lightest;
  max-width: 1040px;
  padding-left: 16px;
}
