@use "variables";

/**********************
  Icons
**********************/

.fa-plus {
  border: 2px solid variables.$white;
  border-radius: 50%;
  box-sizing: initial;
  margin-left: (variables.$margin * 2);
  padding: (variables.$padding * 0.5);
}

.ds-c-icon {
  height: 1em;
}
