/**********************
  GLOBALS
**********************/

html,
body,
#root,
#app-wrapper {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

/**********************
  MAIN
**********************/

.main {
  padding: ($padding * 2) 0;
}

.preloader {
  background: rgba(255, 255, 255, 0.75);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 998;

  .preloader-image {
    left: calc(50% - 32px);
    position: absolute;
    top: 20%;
    z-index: 999;
  }
}

.page-info {
  margin-top: ($margin * 8);

  @media only screen and (min-width: 768px) {
    margin-top: ($margin * 2);
  }

  .edit-info {
    color: $color-gray-light;
    padding-left: 20px;
    position: relative;
    text-transform: uppercase;

    &:before {
      content: "\f15b";
      font-family: "FontAwesome";
      position: absolute;
      top: 2px;
      left: 0;
    }

    img {
      width: 24px;
    }
  }

  .h1-title-report {
    margin-top: $padding * 2;
    margin-left: 0px;

    h1 {
      font-weight: bold;
      margin-top: 0;
    }
  }

  .smaller-page {
    max-width: 680px;
  }
}

.h1-title-report {
  margin-top: $padding * 2;
  margin-left: $padding * 2;

  h1 {
    font-weight: $font-weight-bold;
    margin-top: 0;
  }
}

.omb-info {
  color: $color-hint;
  font-size: 0.85rem;
  line-height: 1.6rem;
  margin: 64px 0;
  text-align: center;
}

.reports {
  color: $color-hint-light;
  width: 100%;

  h3 {
    color: $black;
  }

  .report-header {
    color: $black;
    font-size: 0.8rem;
    margin-bottom: ($margin * 2);
    text-transform: uppercase;
    width: 100%;
  }

  .report-item {
    padding: ($padding * 2) 0;
    width: 100%;

    .name {
      color: $black;
      font-weight: $font-weight-bold;
    }

    .link {
      background: none !important;
      border: none;
      padding: 0 !important;
      font-family: inherit;
      font-size: inherit;
      color: #0071bc;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      cursor: pointer;

      &:focus {
        color: #4c2c92;
      }

      &:hover {
        color: #0071bc;
      }
    }
  }

  table {
    width: 100%;

    .name {
      color: #333;
      font-weight: 700;
    }

    a {
      text-decoration: none;
    }
  }

  .ds-c-table th {
    background: none;
    color: #333;
    font-size: 0.85rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  .ds-c-table td,
  .ds-c-table th {
    border: none;
  }
}

.reports-footer {
  color: $color-hint;
  margin-top: ($margin * 3);
  width: 100%;

  .displaying {
    text-align: center;
    margin-bottom: $margin;

    @media only screen and (min-width: 768px) {
      margin-bottom: 0;
      text-align: left;
    }
  }

  .pager {
    text-align: center;
    @media only screen and (min-width: 768px) {
      text-align: right;
    }
  }
  .count {
    color: $color-gray;
    font-weight: $font-weight-semi-bold;
  }

  [class^="number-"] {
    border-radius: $border-radius;
    display: inline-block;
    padding: 0.1rem 0.4rem;
    text-align: center;
  }
}

[class^="number-"] {
  border-radius: 2px;
  display: inline-block;
  padding: 0.1rem 0.4rem;
  text-align: center;
}

.number-primary {
  background: $brand-primary;
  color: $white;
}

.number-outline {
  border: 1px solid $color-hint;
}

.homepage {
  &-filter {
    padding: 0 16px;

    @media only screen and (min-width: 544px) {
      padding: 0;
    }
  }

  .page-title {
    margin-top: ($margin * 4);
    margin-bottom: $margin;
  }

  .report-section-title {
    margin-left: ($margin * 2);
  }

  .update-date {
    color: $color-hint-light;
    text-align: right;
    text-transform: uppercase;
  }

  .updates {
    h3 {
      color: $black;
      font-weight: $font-weight-normal;
      font-size: 1.4rem;
      margin-top: 0;
    }
    h4 {
      font-size: 0.85rem;
      text-transform: uppercase;
    }

    .update {
      border: 2px solid $color-gray-lightest;
      border-left: none;
      border-right: none;
      padding: ($padding * 6) 0;
      text-align: center;

      @media only screen and (min-width: 768px) {
        text-align: left;
      }

      h3 {
        margin-bottom: 0;
        font-weight: bold;
      }

      p {
        line-height: 1.5rem;
      }

      .icon {
        .icon-inner {
          background: $lily-white;
          border-radius: $border-radius;
          color: $brand-primary;
          display: inline-block;
          font-size: 100px;
          height: auto;
          padding: ($padding * 2) ($padding * 5);
          text-align: center;
          width: auto;
          @media only screen and (min-width: 768px) {
            padding-right: 2rem;
          }
        }
      }

      .button-display {
        padding-right: ($padding) - 2; // offset for icons shifted right 2
      }

      .title {
        margin-top: ($margin * 2);
        text-align: center;

        @media only screen and (min-width: 768px) {
          margin-top: 0;
          text-align: left;
        }
      }

      .update-contents {
        @media only screen and (min-width: 768px) {
          padding-left: ($padding * 6);
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

.accordion-header {
  h3 {
    margin-bottom: 0;

    button {
      background: $lily-white;
      border: none;
      border-top: 6px solid $brand-primary;
      border-bottom: 1px solid $color-gray-light;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: bold;
      padding: ($padding * 4) ($padding * 2);
      position: relative;
      text-align: left;
      width: 100%;

      .arrow {
        position: absolute;
        top: calc(50% - 30px);
        right: 16px;

        &:before {
          content: "\f106";
          font-family: "FontAwesome";
          position: absolute;
          right: 0;
          top: ($margin * 2);
          transform: rotate(180deg);
        }
      }
    }
  }
}

div[data-state="open"] .accordion-header .arrow:before {
  transform: rotate(0deg);
}

.objective-body,
.objective-footer {
  background: $color-gray-lightest;
  padding: ($padding * 2);
  // margin-left: ($margin * 10);

  .add-goal {
    margin-top: ($margin * 4);
    margin-bottom: ($margin * 4);
  }
}

.objective-footer {
  padding-left: ($padding * 2);
}

.objective-body {
  h3 > button {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
  }

  .goals {
    padding-left: ($padding * 2);
    border-bottom: 6px solid black;
  }
}

.objective-body .percentages-info {
  padding: 0 ($padding * 2);
}

.percentages-info {
  padding: 0 ($padding * 2);
  h4 {
    margin-bottom: 0;
  }
}

.percentages {
  padding: ($padding * 2);
}
.percentages {
  & > div {
    display: inline-block;
    width: auto;

    &:last-of-type {
      div:first-of-type {
        margin-left: 4px;
      }
    }

    & > div {
      display: inline-block;
    }
  }

  .divide {
    margin: ($margin * 2);
  }
}

.action-buttons {
  position: relative;
  text-align: center;
  @media only screen and (min-width: 768px) {
    text-align: right;
  }
  & > div {
    display: block;
    margin: ($margin * 2) $margin;
  }

  .share-container {
    background: $white;
    box-shadow: 0px 0px 8px $color-gray;
    display: none;
    padding: $padding * 2;
    position: absolute;
    right: 0;
    text-align: left;
    top: 60px;
    width: 260px;

    &.active {
      display: block;
    }

    h4 {
      margin: 0;
    }

    .close {
      position: absolute;
      top: 2px;
      right: 0;
      svg {
        color: $color-gray-light;
        &:hover {
          color: $color-gray;
        }
      }
    }

    .form,
    .copy {
      display: inline-block;
    }

    .copy {
      svg {
        color: $color-gray-light;
      }
    }
  }
}

.add-objective {
  margin-top: ($margin * 4);
}

.comingsoon {
  text-align: center;

  h1,
  h4 {
    color: $brand-primary;
    font-weight: $font-weight-bold;
    text-align: center;
    width: 100%;
  }

  div {
    margin: 0.8rem;
    width: 100%;
  }
}

.profile-information {
  margin: 1.2rem 0;

  & > div:nth-child(even) {
    background-color: #efefef;
  }

  & > div {
    div:first-of-type {
      display: inline-block;
      margin: 0.4rem 0.6rem 0.4rem 0.4rem;
      min-width: 55px;
    }

    div:last-of-type {
      display: inline-block;
    }
  }
}

.browser-issue {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.report-status {
  & > div:nth-child(even) {
    background-color: #efefef;
  }
}

.filter-drop-down-state {
  max-width: 30%;
  min-width: 30%;
  width: 30%;
  display: inline-block;
  margin: 15px;
}

.filter-drop-down-year-status {
  max-width: 25%;
  min-width: 25%;
  width: 25%;
  display: inline-block;
  margin: 15px;
}
.filter-button {
  margin: 15px;
}
.filter-div {
  width: 100%;

  .ds-c-label {
    margin-left: $margin * 2;
  }
}

.help-page {
  margin-top: $margin * 2;
  margin-bottom: $margin * 8;

  &-container {
    max-width: 700px;
  }

  &-title {
    margin-top: $margin * 8;
  }
}
