@use "variables";

/**
  * Contains Print media query AND print page
 */

.print-all {
  .ds-c-alert,
  .form-footer,
  .page-info,
  .non-print-textarea {
    display: none;
  }
  .print-only,
  .print-helper {
    display: block;
  }

  .print-helper {
    margin: 1.2rem 0;
  }

  .screen-only {
    display: none;
  }

  .print-all-btn {
    margin: (variables.$margin * 2) 0 0 (variables.$margin * 2);
  }

  .print-directions {
    border: 1px solid #aaa;
    border-radius: variables.$border-radius;
    box-shadow: 2px 3px 4px #aaa;
    margin: 2.2rem auto;
    text-align: center;
    width: auto;

    .print-all-btn {
      margin: 1.2rem 2.2rem 1.2rem 2.2rem;
    }
  }

  .print-text-area {
    display: block;
    padding: 10px;
    border: black solid 1px;
  }
}

@media print {
  .no-print,
  .non-print-textarea {
    display: none !important;
  }
  .action-buttons,
  .ds-c-alert,
  .footer,
  .header,
  .nav-buttons,
  .print-all-btn,
  .print-directions,
  .screen-only,
  .sidebar {
    display: none;
  }

  .print-only,
  .print-helper {
    display: block;
  }

  .print-helper {
    margin: 1.2rem 0;
  }

  .screen-only {
    display: none !important;
  }

  .content {
    min-width: 100%;
  }

  .ds-c-choice:checked + label:before {
    background-color: variables.$brand-primary;
    -webkit-print-color-adjust: exact;
  }

  .ds-c-tabs__panel {
    border: none;
    display: block;
  }

  .section-content {
    .ds-c-tabs__panel[aria-hidden="true"] {
      display: block !important;
      border-top: 8px solid variables.$alto;
    }
    .ds-c-tabs__item[aria-selected="false"] {
      display: none;
    }

    .ds-c-tabs {
      display: none;
    }

    div[hidden] {
      display: block;
    }
  }

  .fill-form {
    display: none;
  }

  .question-container {
    display: block;
  }

  .ly_header {
    margin-bottom: (variables.$margin * 8);
  }
  .question {
    break-inside: avoid;
  }

  .print-text-area {
    display: block;
    padding: 10px;
    border: black solid 1px;
  }
}
