@use "variables";

/**********************
  SIDEBAR
**********************/

.sidebar {
  margin: (variables.$margin * 3) 0;


  .skip-content {
    margin-bottom: (variables.$margin * 3);
  }
  .state-header {
    margin-bottom: (variables.$margin * 3);
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .state-image {
    width: 70px;
  }

  .state-name {
    font-size: 1.6rem;
    font-weight: variables.$font-weight-semi-bold;
    overflow-wrap: anywhere; 
  }

  .ds-c-vertical-nav__label {
    text-align: left;
  }
}
