/**********************
  SIDEBAR
**********************/

.sidebar {
  margin: ($margin * 3) 0;


  .skip-content {
    margin-bottom: ($margin * 3);
  }
  .state-header {
    margin-bottom: ($margin * 3);
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .state-image {
    width: 70px;
  }

  .state-name {
    font-size: 1.6rem;
    font-weight: $font-weight-semi-bold;
    overflow-wrap: anywhere; 
  }
}
