service: database

frameworkVersion: "4"

plugins:
  - serverless-dynamodb
  - serverless-stack-termination-protection
  - serverless-plugin-scripts
  - serverless-offline

custom:
  project: "carts"
  stage: ${opt:stage, self:provider.stage}
  region: ${opt:region, self:provider.region}
  serverlessTerminationProtection:
    stages:
      - nonsense
  acsTableName: ${self:custom.stage}-acs
  fmapTableName: ${self:custom.stage}-fmap
  stateTableName: ${self:custom.stage}-state
  stateStatusTableName: ${self:custom.stage}-state-status
  sectionTableName: ${self:custom.stage}-section
  sectionBaseTableName: ${self:custom.stage}-section-base
  stageEnrollmentCountsTableName: ${self:custom.stage}-stg-enrollment-counts
  uploadsTableName: ${self:custom.stage}-uploads
  seedTestDataMap:
    production: false
    val: false
    main: false
    default: true
  seedTestData: ${self:custom.seedTestDataMap.${self:custom.stage}, self:custom.seedTestDataMap.default}
  seedOptions:
    prod: false
    val: false
    default:
      domain:
        sources:
          - table: ${self:custom.acsTableName}
            sources:
              [
                ./data/seed-local/seed-acs.json,
                ./data/seed/seed-acs-2021.json,
                ./data/seed/seed-acs-2022.json,
                ./data/seed/seed-acs-2023.json,
              ]
          - table: ${self:custom.fmapTableName}
            sources: [./data/seed-local/seed-fmap.json]
          - table: ${self:custom.stateTableName}
            sources: [./data/seed-local/seed-state.json]
          - table: ${self:custom.stateStatusTableName}
            sources: [./data/seed-local/seed-status.json]
          - table: ${self:custom.sectionTableName}
            sources: [./data/seed-local/seed-section.json]
          - table: ${self:custom.sectionBaseTableName}
            sources:
              [
                ./data/seed/seed-section-base-2020.json,
                ./data/seed/seed-section-base-2021.json,
                ./data/seed/seed-section-base-2022.json,
                ./data/seed/seed-section-base-2023.json,
                ./data/seed/seed-section-base-2024.json,
              ]
          - table: ${self:custom.stageEnrollmentCountsTableName}
            sources: [./data/seed-local/seed-stg-enrollment-counts.json]
  scripts:
    hooks:
      deploy:finalize: |
        aws lambda invoke --region ${self:provider.region} --function-name ${self:service}-${self:custom.stage}-seed --invocation-type RequestResponse /dev/null
  dynamodb:
    stages:
      - local
    start:
      port: 8000
      inMemory: true
      migrate: true
      seed: true
    seed: ${self:custom.seedOptions.${self:custom.stage}, self:custom.seedOptions.default}
provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stackTags:
    PROJECT: ${self:custom.project}
    SERVICE: ${self:service}
  iam:
    role:
      path: /delegatedadmin/developer/
      permissionsBoundary: !Sub arn:aws:iam::${AWS::AccountId}:policy/cms-cloud-admin/developer-boundary-policy
      statements:
        - Effect: "Allow"
          Action:
            - dynamodb:DescribeTable
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource: "*"

functions:
  seed:
    handler: handlers/seed/seed.handler
    environment:
      dynamoPrefix: ${self:custom.stage}
      seedTestData: ${self:custom.seedTestData}
    timeout: 120

resources:
  Resources:
    AcsTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:custom.acsTableName}
        PointInTimeRecoverySpecification:
          PointInTimeRecoveryEnabled: true
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
        AttributeDefinitions:
          - AttributeName: stateId
            AttributeType: S
          - AttributeName: year
            AttributeType: N
        KeySchema:
          - AttributeName: stateId
            KeyType: HASH
          - AttributeName: year
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST # Set the capacity to auto-scale
    FmapTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:custom.fmapTableName}
        PointInTimeRecoverySpecification:
          PointInTimeRecoveryEnabled: true
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
        AttributeDefinitions:
          - AttributeName: fiscalYear
            AttributeType: N
          - AttributeName: stateId
            AttributeType: S
        KeySchema:
          - AttributeName: fiscalYear
            KeyType: HASH
          - AttributeName: stateId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST # Set the capacity to auto-scale
    StateTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:custom.stateTableName}
        PointInTimeRecoverySpecification:
          PointInTimeRecoveryEnabled: true
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
        AttributeDefinitions:
          - AttributeName: code
            AttributeType: S
        KeySchema:
          - AttributeName: code
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST # Set the capacity to auto-scale
    StateStatusTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:custom.stateStatusTableName}
        PointInTimeRecoverySpecification:
          PointInTimeRecoveryEnabled: true
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
        AttributeDefinitions:
          - AttributeName: year
            AttributeType: N
          - AttributeName: stateId
            AttributeType: S
        KeySchema:
          - AttributeName: stateId
            KeyType: HASH
          - AttributeName: year
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST # Set the capacity to auto-scale
    SectionTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:custom.sectionTableName}
        PointInTimeRecoverySpecification:
          PointInTimeRecoveryEnabled: true
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
        AttributeDefinitions:
          - AttributeName: pk
            AttributeType: S
          - AttributeName: sectionId
            AttributeType: N
        KeySchema:
          - AttributeName: pk
            KeyType: HASH
          - AttributeName: sectionId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST # Set the capacity to auto-scale
    SectionBaseTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:custom.sectionBaseTableName}
        PointInTimeRecoverySpecification:
          PointInTimeRecoveryEnabled: true
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
        AttributeDefinitions:
          - AttributeName: year
            AttributeType: N
          - AttributeName: sectionId
            AttributeType: N
        KeySchema:
          - AttributeName: year
            KeyType: HASH
          - AttributeName: sectionId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST # Set the capacity to auto-scale
    StageEnrollmentCountsTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:custom.stageEnrollmentCountsTableName}
        PointInTimeRecoverySpecification:
          PointInTimeRecoveryEnabled: true
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
        AttributeDefinitions:
          - AttributeName: pk
            AttributeType: S
          - AttributeName: entryKey
            AttributeType: S
        KeySchema:
          - AttributeName: pk
            KeyType: HASH
          - AttributeName: entryKey
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST # Set the capacity to auto-scale
    UploadsTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:custom.uploadsTableName}
        PointInTimeRecoverySpecification:
          PointInTimeRecoveryEnabled: true
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
        AttributeDefinitions:
          - AttributeName: uploadedState
            AttributeType: S
          - AttributeName: fileId
            AttributeType: S
        KeySchema:
          - AttributeName: uploadedState
            KeyType: HASH
          - AttributeName: fileId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST # Set the capacity to auto-scale
  Outputs:
    AcsTableName:
      Value: !Ref AcsTable
    AcsTableArn:
      Value: !GetAtt AcsTable.Arn
    FmapTableName:
      Value: !Ref FmapTable
    FmapTableArn:
      Value: !GetAtt FmapTable.Arn
    StateTableName:
      Value: !Ref StateTable
    StateTableArn:
      Value: !GetAtt StateTable.Arn
    StateStatusTableName:
      Value: !Ref StateStatusTable
    StateStatusTableStreamArn:
      Value: !GetAtt StateStatusTable.StreamArn
    StateStatusTableArn:
      Value: !GetAtt StateStatusTable.Arn
    SectionTableName:
      Value: !Ref SectionTable
    SectionTableArn:
      Value: !GetAtt SectionTable.Arn
    SectionTableStreamArn:
      Value: !GetAtt SectionTable.StreamArn
    SectionBaseTableName:
      Value: !Ref SectionBaseTable
    SectionBaseTableArn:
      Value: !GetAtt SectionBaseTable.Arn
    StageEnrollmentCountsTableName:
      Value: !Ref StageEnrollmentCountsTable
    StageEnrollmentCountsTableArn:
      Value: !GetAtt StageEnrollmentCountsTable.Arn
    UploadsTableName:
      Value: !Ref UploadsTable
    UploadsTableArn:
      Value: !GetAtt UploadsTable.Arn

    Region:
      Value: !Sub ${AWS::Region}
