@import "../node_modules/@cmsgov/design-system-core/dist/index.css";
@import "../node_modules/@cmsgov/design-system-layout/dist/index.css";

@font-face {
  font-family: "Open Sans";
  src: url("/react/fonts/OpenSans/OpenSans-Regular-webfont.eot");
  src: url("/react/fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/react/react/public/fonts/OpenSans/OpenSans-Bold-webfont.woff")
      format("woff"),
    url("/react/fonts/OpenSans/OpenSans-Regular-webfont.ttf") format("truetype"),
    format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/react/fonts/OpenSans-Semibold-webfont.eot");
  src: url("/react/fonts/OpenSans-Semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/react/fonts/OpenSans-Semibold-webfont.woff") format("woff"),
    url("/react/fonts/OpenSans-Semibold-webfont.ttf") format("truetype"),
    url("/react/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold")
      format("svg");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/react/fonts/OpenSans-Italic-webfont.eot");
  src: url("/react/fonts/OpenSans-Italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/react/fonts/OpenSans-Italic-webfont.woff") format("woff"),
    url("/react/fonts/OpenSans-Italic-webfont.ttf") format("truetype"),
    url("/react/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/react/fonts/OpenSans-Bold-webfont.eot");
  src: url("/react/fonts/OpenSans-Bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/react/fonts/OpenSans-Bold-webfont.woff") format("woff"),
    url("/react/fonts/OpenSans-Bold-webfont.ttf") format("truetype"),
    url("/react/fonts/OpenSans-Bold-webfont.svg#OpenSansSemiboldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
}

.App {
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**********************
  GLOBALS
**********************/
img {
  max-width: 100%;
}

/**********************
  HEADER
**********************/

.header {
  background: #112e51;
  color: #fff;
}

.header::after {
  content: "";
  clear: both;
  display: table;
}

.header a:link,
.header a:visited {
  color: #fff;
  text-decoration: none;
}

.header a:hover,
.header a:active {
  color: #a7c6ec;
}

.header .site-title {
  font-weight: bold;
  text-transform: uppercase;
}
.header .save-status {
  border-right: 2px solid #fff;
  font-size: 0.85rem;
  font-style: italic;
  padding-top: 0.1rem;
  text-align: right;
}

.header .nav-user ul {
  list-style-type: none;
  margin: 0;
}

.header .nav-user .menu-block {
  display: none;
  position: relative;
  transition: all 2s;
}

.header .nav-user .menu-block.open {
  background: #112e51;
  display: block;
  padding: 16px;
  position: absolute;
  right: 0;
  transition: all 2s;
}

.header-row {
  position: relative;
}

.header .nav-user .menu-block .manage-account {
  padding-left: 32px;
  position: relative;
}

.header .nav-user .menu-block .manage-account a:before {
  content: "\f044";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
}

.header .nav-user .menu-block .logout {
  padding-left: 32px;
  position: relative;
}

.header .nav-user .menu-block .logout a:before {
  content: "\f2f5";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
}

.header .nav-user ul.user-email-button {
  font-weight: 800;
  margin: 0;
  padding: 0;
  padding-right: 30px;
  position: relative;
  text-align: right;
}

.header .nav-user ul.user-email-button a:after {
  content: "\f106";
  font-family: "FontAwesome";
  height: 5px;
  pointer-events: all;
  position: absolute;
  right: 8px;
  top: 16px;
  transform: rotate(180deg);
  width: 10px;
}

.header .nav-user.open ul:after {
  transform: rotate(0deg);
}

/**********************
  FOOTER
**********************/
.footer {
  background: #f1f1f1;
  font-size: 0.85rem;
  color: #3f3f3f;
}

.footer .adverts {
  padding: 48px 8px;
}

.footer .cms-logo {
  display: inline-block;
  width: 70px;
}
.footer .cms-copy {
  display: inline-block;
  padding-left: 16px;
  vertical-align: top;
  width: calc(100% - 86px);
}

.footer .chip-info div {
  display: inline-block;
  max-width: calc(50% - 16px);
  margin: 8px;
  vertical-align: middle;
}

.footer .chip-info div img {
  max-height: 70px;
  max-width: 92%;
}

.footer .info {
  background-color: #112e51;
  color: #fff;
  padding: 16px 8px;
}

.footer .info a,
.footer .info a:visited {
  border-bottom: 1px dotted #fff;
  color: #fff;
  text-decoration: none;
}

.footer .info a:hover,
.footer .info a:active {
  color: #f1f1f1;
}

.footer .info .address {
  text-align: right;
}

/**********************
  SIDEBAR
**********************/

.sidebar {
  margin-top: 24px;
}

.sidebar .state-header {
  margin-bottom: 24px;
  position: relative;
}

.sidebar .state-image {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
}

.sidebar .state-name {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 70px;
  padding-left: 70px;
}

/**********************
  FORM
**********************/
.form-options {
  margin: 24px 0;
}

.form-options button {
  margin-right: 24px;
}

.question-container {
  margin-bottom: 32px;
  padding-right: 24px;
  position: relative;
}

.question-container .fill-form.active,
.question-container .clear-form {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2226%22%3E%3Cpath%20d%3D%22M14.502%204.62L25.37%2015.498c.42.403.631.9.631%201.502a1.99%201.99%200%2001-.631%201.502l-1.251%201.269c-.41.409-.912.62-1.502.62a2.125%202.125%200%2001-1.52-.62L13%2011.663l-8.107%208.108c-.41.409-.912.62-1.503.62a2.125%202.125%200%2001-1.52-.62L.62%2018.502C.21%2018.093%200%2017.59%200%2017s.205-1.093.62-1.502L11.48%204.62A2.15%202.15%200%200113%204c.59%200%201.093.205%201.502.62z%22%2F%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  height: 30px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: -999rem;
  top: 0;
  width: 30px;
}

.question-container .fill-form {
  display: none;
}

.question-container .fill-form.active {
  display: block;
}

.question-container .clear-form {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2226%22%3E%3Cpath%20d%3D%22M14.502%204.62L25.37%2015.498c.42.403.631.9.631%201.502a1.99%201.99%200%2001-.631%201.502l-1.251%201.269c-.41.409-.912.62-1.502.62a2.125%202.125%200%2001-1.52-.62L13%2011.663l-8.107%208.108c-.41.409-.912.62-1.503.62a2.125%202.125%200%2001-1.52-.62L.62%2018.502C.21%2018.093%200%2017.59%200%2017s.205-1.093.62-1.502L11.48%204.62A2.15%202.15%200%200113%204c.59%200%201.093.205%201.502.62z%22%2F%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  display: none;
  transform: rotate(180deg);
}

.question-container .clear-form.active {
  display: block;
}

.question-container .clear-form a,
.question-container .fill-form a {
  display: block;
  height: 100%;
  width: 100%;
}

.question-container .date-range fieldset > div div:nth-of-type(2),
.question-container .date-range fieldset > div span:first-of-type {
  display: none;
}

.sub-questions {
  margin-left: 16px;
}
/* Conditionals */
.hide {
  display: none;
}
.conditional {
  border-left: 4px solid #0872b9;
  margin-left: 14px;
  padding-left: 16px;
}

/**********************
  BODY / MAIN
**********************/
.main {
  padding: 16px 0;
}

.page-info {
  margin-top: 16px;
}

.page-info .edit-info {
  color: #777;
  padding-left: 20px;
  position: relative;
  text-transform: uppercase;
}

.page-info .edit-info:before {
  content: "\f15b";
  font-family: "FontAwesome";
  position: absolute;
  top: 2px;
  left: 0;
}

.page-info .edit-info img {
  width: 20px;
}

.page-info h1 {
  font-weight: 500;
  margin-top: 0;
}

.omb-info {
  color: #81858d;
  font-size: 0.85rem;
  line-height: 1.6rem;
  margin: 64px 0;
}

.reports {
  color: #81858d;
  width: 100%;
}

.reports h3 {
  color: #000;
}

.reports table {
  width: 100%;
}

.reports table a {
  text-decoration: none;
}

.reports .ds-c-table th {
  background: none;
  color: #333;
  font-size: 0.85rem;
  font-weight: 300;
  text-transform: uppercase;
}

.reports table .name {
  color: #333;
  font-weight: 700;
}

.reports .ds-c-table td,
.reports .ds-c-table th {
  border: none;
}

.reports-footer {
  color: #999;
  margin-top: 32px;
  width: 100%;
}

.reports-footer .pager {
  text-align: right;
}

.reports-footer .count {
  color: #333;
  font-weight: 700;
}

[class^="number-"] {
  border-radius: 2px;
  display: inline-block;
  padding: 0.1rem 0.4rem;
  text-align: center;
}

.number-primary {
  background: #0872b9;
  color: #fff;
}

.number-outline {
  border: 1px solid #999;
}

.homepage .page-title {
  margin-top: 32px;
  margin-bottom: 8px;
}

.homepage .updates h4 {
  font-size: 0.85rem;
  text-transform: uppercase;
}

.homepage .updates h3 {
  color: #000;
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 0;
}

.homepage .updates .update {
  border: 2px solid #eee;
  border-left: none;
  border-right: none;
  color: #999;
  padding: 32px 0;
}

.homepage .updates .update .date {
  text-align: right;
}

.homepage .updates p {
  line-height: 2rem;
}

.accordion-header h3 {
  margin-bottom: 0;
}

.accordion-header h3 button {
  border: none;
  border-top: 6px solid #0872b9;
  border-bottom: 1px solid #666;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 32px 16px;
  text-align: left;
  width: 100%;
}

.accordion-header h3 button {
  background: #f6f6f6;
  position: relative;
}

.accordion-header h3 button .arrow {
  position: absolute;
  top: calc(50% - 30px);
  right: 16px;
}

.accordion-header h3 button .arrow:before {
  content: "\f106";
  font-family: "FontAwesome";
  position: absolute;
  top: 16px;
  right: 0;
}

.objective-body,
.objective-footer {
  background: #f6f6f6;
  padding: 16px;
}

.objective-body h3 > button {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.objective-body .goals {
  padding-left: 16px;
}

.percentages-info {
  padding: 0 16px;
}

.percentages-info h4 {
  margin-bottom: 0;
}

.percentages {
  padding: 16px;
}
.percentages > div {
  display: inline-block;
  width: auto;
}

.percentages > div > div {
  display: inline-block;
}

.percentages > div:last-of-type div:first-of-type {
  margin-left: 2px;
}

.percentages .divide {
  margin: 16px;
}
