/**********************
  FORM
**********************/
.form-options {
  margin: ($padding * 3) 0;

  button {
    margin-right: ($padding * 3);
  }
}

.question-container {
  margin-bottom: ($padding * 4);
  position: relative;

  .fill-form {
    border: 2px solid $color-gray-lightest;
    border-radius: $border-radius;
    float: right;
    height: 30px;
    overflow: hidden;

    position: relative;
    right: 0;
    top: 0px;
    width: 30px;

    a {
      display: block;
      height: 100%;
      pointer-events: all;
      width: 100%;

      &:after {
        background-image: url(/img/burger-arrow.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 85%;
        color: $black;
        content: "";
        font-family: "FontAwesome";
        height: 24px;
        position: absolute;
        right: 0;
        top: 0;
        width: 24px;
      }
    }
  }

  .fill-form {
    a.active {
      &:after {
        background: none;
        color: $color-icon;
        content: "\f0e2";
        font-family: "FontAwesome";
        height: 24px;
        padding: 4px 0 0 12px;
        position: absolute;
        text-indent: 6px;
        right: 0;
        top: 0;
        width: 24px;
      }
    }
  }

  .fill-form.active {
    display: block;
  }

  .clear-form {
    display: none;

    &.active {
      display: block;
    }

    a:after {
      content: "\f0e2";
    }
  }

  .date-range fieldset > div div:nth-of-type(2),
  .date-range fieldset > div span:first-of-type {
    display: none;
  }
}

.sub-questions {
  margin-left: 16px;
}
/* Conditionals */
.hide {
  display: none;
}
.conditional {
  border-left: $border-width solid $brand-primary;
  margin-left: ($margin * 2);
  padding-left: ($padding * 2);
}
