/**********************
  FORM
**********************/
.ds-c-label {
  max-width: 100%;
}

.form-options {
  margin: ($padding * 3) 0;

  button {
    margin-right: ($padding * 3);
  }
}

.accordion-title {
  font-size: 1.2rem;
}

.question-container {
  margin-bottom: ($padding * 4);
  position: relative;

  .fill-form {
    border: 2px solid $color-gray-lightest;
    border-radius: $border-radius;
    float: right;
    height: 30px;
    overflow: hidden;

    position: relative;
    right: 0;
    top: 0px;
    width: 30px;

    a {
      display: block;
      height: 100%;
      pointer-events: all;
      width: 100%;

      &:after {
        background-image: url(/img/burger-arrow.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 85%;
        color: $black;
        content: "";
        font-family: "FontAwesome";
        height: 24px;
        position: absolute;
        right: 0;
        top: 0;
        width: 24px;
      }
    }
  }

  .fill-form {
    a.active {
      &:after {
        background: none;
        color: $color-icon;
        content: "\f0e2";
        font-family: "FontAwesome";
        height: 24px;
        padding: 4px 0 0 12px;
        position: absolute;
        text-indent: 6px;
        right: 0;
        top: 0;
        width: 24px;
      }
    }
  }

  .fill-form.active {
    display: block;
  }

  .clear-form {
    display: none;

    &.active {
      display: block;
    }

    a:after {
      content: "\f0e2";
    }
  }

  .date-range fieldset > div div:nth-of-type(2),
  .date-range fieldset > div span:first-of-type {
    display: none;
  }

  .question {
    font-weight: $font-weight-bold;
    margin-top: ($margin * 2);
  }

  .date-range {
    border-left: 4px solid $brand-primary;
    padding-left: ($padding * 2);
  }

  .question-outer-header {
    margin-bottom: 0;
    margin-top: ($margin * 4);
  }
}

.question-inner-header {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: ($margin * 2);
}
.sub-questions {
  margin-left: 16px;
}
/* Conditionals */
.hide {
  display: none;
}
.conditional {
  border-left: $border-width solid $brand-primary;
  margin-left: ($margin * 2);
  padding-left: ($padding * 2);
}

.fpl {
  h3 {
    margin: ($margin * 4) 0 0 0;
  }
}
.fpl-container {
  align-items: baseline;
  display: flex;
  max-width: 140px;
  position: relative;
  width: auto;

  .fpl-input {
    width: auto;
  }

  .fpl-percentage {
    position: absolute;
    right: 8px;
    top: 58px;
  }
}

.fpl-arrow {
  align-self: flex-end;
  font-size: 1.8rem;
  vertical-align: bottom;
  line-height: 2.2rem;
  padding: 0 2.2rem 0.6rem;
}

.nav-buttons {
  margin: ($margin * 8) 0 ($margin * 2);
  text-align: center;

  @media only screen and (min-width: 767px) {
    .auto-save {
      text-align: left;
    }
  }
  .form-buttons {
    @media only screen and (min-width: 767px) {
      text-align: right;
    }
    .form-button {
      margin: $margin 0;

      @media only screen and (min-width: 767px) {
        display: inline-block;
        margin: $margin;
      }
    }
  }
}

.date-range {
  .date-range-start-wrapper,
  .date-range-end-wrapper {
    & > div {
      display: inline-block;
      width: auto;
    }

    .ds-c-datefield__separator {
      margin: 0 ($margin * 2);
    }

    .ds-c-label {
      span:first-of-type {
        display: none;
      }
    }
  }
}
