Django==2.2.13
gunicorn==19.9.0
psycopg2-binary==2.8.3
djangorestframework
markdown
django-json-widget
django-filter
django-cors-headers
jsonschema
jsonpath_ng
python_jwt
pytest-django
requests
cffi
pycparser
cryptography
toolz
django-db-views