Django==2.2.27
gunicorn==19.9.0
psycopg2-binary==2.8.3
djangorestframework
markdown
django-json-widget
django-filter==21.1
django-cors-headers==3.11.0
jsonschema==4.4.0
jsonpath_ng
python_jwt
pytest-django
requests
cffi
pycparser
cryptography==3.1.1
toolz
django-db-views
django-ses
aws-requests-auth
